*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Body is force to at least be 100% height of the screen */
    overflow-x: hidden; /* Make horizontal scrolling impossible */
    /* background-image: url('../uploads/wallpaper.jpg'); */
    background-position: center;
    background-size: cover;
}

header, footer{
    height: 200px;
    text-align: end;
    align-content: center;
}

main{
    flex: 1; /* Pushs footer down even if the content is short */
    padding: 35px;
    width: 90%; 
    margin: auto; /* This way your main content will be centered */
}

header{
    box-shadow: 0px 5px 10px rgb(194, 194, 194, 0.25);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navBtn{
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 25px;
    border: 1px solid rgba(241, 241, 241);
    border-radius: 5px;
    background-color: rgb(129, 60, 40);
    box-shadow: 0px 5px 10px rgb(194, 194, 194);
}
.navBtn:hover{
    color: white;
    background-color: rgb(189, 77, 45);
    border-color: rgb(110, 45, 56);
}

.active{
    color: white;
    background-color: rgb(110, 45, 56);
    border-color: rgb(110, 45, 56);;
}

.active:hover{
    background-color: rgb(192, 43, 68);
}

.logout{
    color: red;
}

img{
    object-fit: cover;
}

.parent{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.parent form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.parent form *{
    margin-bottom: 5px;
}

.parent .enfant {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.slider-1{
    width: 100%;
    height: 500px;
    /* 
    To do top to bottom or bottom to top
    heigth : 200px;
    */
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid black;
}

.slider-1 .slider{
    display: flex;
    height: 100%;
    animation: slider-1 12s infinite ease-in-out;
    /* With flex-direct we can choose to do right to left or left to right BUT don't forget to change our animation slider-1 */
    /* flex-direction: row-reverse;  */

    /* 
    
    To do top to bottom or bottom to top
    height: 100%;
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
    flex-direction: column-reverse (or column);
    
    */
}

.slider-1 p {
    display: flex;
    height: 100%;
    background-color: black;
    color: white;
    flex-shrink: 0;
    padding: 72px 0;
    width: 100%;
    font-size: 45px;
    justify-content: center;
    align-items: center;
}
/* 
    5% for every transition

    Since there is 4 transitions (20%), 100% - 20% = 80% for slides (pauses)

    4 slides : 80% / 4 = 20% per slides
*/
@keyframes slider-1 {
    /* 
    To do top to bottom or bottom to top
    Don't forget to change translateX to translateY
    */
    0%,
    20%{
        transform: translateX(0);
    }
    25%,
    45%{
        transform: translateX(-100%);
    }
    50%,
    70%{
        transform: translateX(-200%);
    }
    75%,
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400%);
    }
}