*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html{
            background-color: grey;
        }

        body{
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Body is force to at least be 100% height of the screen */
            overflow-x: hidden; /* Make horizontal scrolling impossible */
        }

        header, footer{
            background-color: grey;
            height: 200px;
            text-align: center;
            align-content: center;
        }
        
        main{
            background: black;
            color : Green;
            flex: 1; /* Pushs footer down even if the content is short */
            padding: 35px;
            width: 90%; 
            margin: auto; /* This way your main content will be centered */
        }

        div{
            background-color: black;
            color: white;
        }
        
        .btn{
            background-color: green;
            color: white;
            box-shadow: 0px 0px 10px green;
            text-align: center;
            padding: 5px;
            text-decoration: none;
            border: 1px solid white;
        }
        .btn:hover{
            background-color: rgb(52, 255, 52);
            color: black;
            box-shadow: 0px 0px 20px rgb(52, 255, 52);
            border: 1px solid black;
        }
